<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A First App</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <div>
        <label for="goal">Goal</label>
        <div v-if="!isEditing">
          <input type="text" v-model="todo" />
          <button @click="storeTodo">Add Goal</button>
        </div>
        <div v-else>
          <input type="text" v-model="todo" />
          <button @click="updateTodo">Add Goal</button>
        </div>
       

        <ul>
          <li v-for="(todo,index) in todos">{{ todo}}
            <button @click="editTodo(index,todo)">Edit</button>
            <button @click="deleteTodo">Delete Todo</button>
          </li>
        </ul>
      </div>
      
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
